#hero {
    padding: 100px 0;
    background-color: #131414;
}

#hero .hero_img {
  position: relative;
  z-index: 1;
  padding: 0 20px 0 0;
  transition: all 0.5s;
}

#hero .hero_img img {
  width: 100%;
  display: block;
  transition: padding 0.5s;
}

#hero .hero_img:hover {
  padding: 0 0 0 20px;
}

#hero .hero_img::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 5px;
  bottom: -15px;
  background-color: rgba(245, 245, 245, 0.05);
  z-index: -1;
  transition: all 0.5s;
}

#hero .hero_img:hover::after {
  background-color: #C49B66;
  top: -15px;
  left: 5px;
  right: 15px;
  bottom: 15px;
}

.title {
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
    /* Ensure it's higher than pseudo-elements */
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
}

.title:before {
    content: '';
    width: 100%;
    height: 2px;
    /* Increase height for better visibility */
    background: #222;
    /* Slightly increase opacity */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    /* Ensure it's lower than .title */
}

.title:after {
    content: '';
    width: 60px;
    height: 2px;
    background: #C49B66;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    /* Ensure it's lower than .title */
}

#hero p {
    font-size: 15px;
    color: #a3a3a3;
    line-height: 1.6;
    word-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 15px !important;
    text-align: left;
}

.title_total {
    padding-bottom: 30px;
}

/* Icon design  start*/

.fb {
    font-size: 18px !important;
    color: #fff;
}

.social_icon a {
    padding: 5px;
    margin: 0 5px 0 0 !important;
    border: 1px solid #fff;
    transition: .3s;
}

.social_icon {
    margin: 30px 0 25px 0;
}

.social_icon a:hover {
    background-color: #C49B66;
    border: 1px solid #C49B66;

}

/* Icon design  End*/

/* Rotate Button  Start*/

.btn_btn {
    display: flex;

}

.first_btn {
    margin-right: 10px;
}

.buton {
    position: relative;
    cursor: pointer;
}

.buton a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    width: 130px;
    transform-style: preserve-3d;
    position: relative;
    transition: .3s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.buton a:before {
    content: attr(back);
    font-family: "Font Awesome\ 5 Free";
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    color: #C49B66;
    border: 1px solid #C49B66;
    line-height: 38px;
    transition: .3s;
    transform-origin: bottom;
    transform: translateY(-100%) rotateX(90deg);
}

.buton a:after {
    content: attr(front);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #C49B66;
    color: #fff;
    transition: .3s;
    transform-origin: top;
    transform: translateY(0) rotateX(0deg);
}

.buton a:hover:before {
    transform: translateY(0) rotateX(0deg);
}

.buton a:hover:after {
    transform: translateY(100%) rotateX(90deg);
}

.buton-bord a:before {
    background: #C49B66;
    color: #fff;
}

.buton-bord a:after {
    background: transparent;
    color: #C49B66;
    border: 1px solid #C49B66;
}

/* Rotate Button  End*/